{% extends 'base.html' %}

{% block content%}
<div class="container ">
  <h1 id='h1'>Fill your details to start requesting our services</h1>
</div>
<div class="container-fluid">
  <div class="jumbotron">

      <form method="post" >
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        <p></p>
        <label for="password">Password</label>
        <input type="password" name="password">
        <p></p>
        <input type="submit" name="" value="Login">
      </form>
  </div>
</div>

{% endblock %}
