{% extends 'base.html' %}

{% block content%}
<div class="container">
  <div class="jumbotron">
    <h1>Please Login</h1>

      <form method="post" >
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        <p></p>
        <label for="password">Password</label>
        <input type="password" name="Password">
        <input type="submit" name="" value="Login">

      </form>

  </div>
</div>
{% endblock %}
