{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="jumbotron">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% if registered %}
    <h2>You are reigistered successfully!! Click this to login!</h2>
    <button type="button" name="button" action="{% url 'user_auth:login' %}">Login</button>
    {% else %}
    {{ user_form|crispy }}
    {{ profile_form|crispy }}
    <input type="submit"  value="Register">
    {% endif %}
  </form>
</div>
{% endblock %}
