<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Transport Auction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Transport Auction</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto " >
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer:login' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer:ongoing_orders' %}">Ongoing Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer:previous_orders' %}">Previous Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer:pending_requests' %}">Pending Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_auth:logout' %}">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_auth:logout' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_auth:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  </div>

{% block content %}

{% endblock %}

  </body>
</html>
