{% extends 'base2.html' %}

{% block content%}
<div class="container ">

</div>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 style="text-align:center;">User Id : {{ user.username }}</h1>
    <p></p>
    <p></p>
    <p></p>
    <table style="text-align:center;margin-left:auto;margin-right:auto;font-size:30px">
      <tr>
        <td >Contact</td>
        <td>{{ user_info.contact }}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{ user_info.city }}</td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{ user_info.state }}</td>
      </tr>
      <tr>
        <td>Pin Code</td>
        <td>{{ user_info.pin_code }}</td>
      </tr>
    </table>

  </div>
</div>
{% endblock %}
